.sub-btn {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: var(--ff-secondary);
}

.sub-btn::before {
    margin-left: auto;
}

.sub-btn::after, .sub-btn::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.sub-btn:hover::after, .sub-btn:hover::before {
    width: 100%;
}

.delete-button{
    background-color: var(--clr--red);
    border: none;
}
.delete-button:hover{
    background-color: var(--clr--blue);
}

.action-button-add{
    border: none;
    color: white;
    background-color: var(--clr--red);
    border-radius: 0.5rem;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    transition: 0.5s;
}
.action-button-add > a{
    text-decoration: none;
    color: white;
}
.action-button-view > a{
    text-decoration: none;
    color: var(--clr--black);
}
.action-button-view > a:hover{
    color: var(--clr--white);
}


.action-button-add:hover{
    background-color: var(--clr--blue);
}
.action-button-add > i{
    padding-right: 0.5rem;
}

.action-button-view{
    border: none;
    color: white;
    background-color: var(--clr--yellow);
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    color: var(--clr--black);
    transition: 0.4s;
}
.action-button-view > i{
    padding-right: 0.5rem;
}

.action-button-view:hover{
    background-color: var(--clr--blue);
    color: white;
}

.export-btn{
    background-color: var(--clr--green);
    padding: 0.5rem 0.6rem;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    color: var(--clr--black);
    transition: 0.4s;
    border: none;
    margin:1rem
}
.export-btn > i{
    padding-right: 0.5rem;
}

.export-btn:hover{
    background-color: green;
    color: white;
}

.accord{
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn{
    border: none;
    color: white;
    background-color: var(--clr--yellow);
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    color: var(--clr--black);
    transition: 0.4s;
}
.action-btn > i{
    padding-right: 0.5rem;
}
.action-btn:hover{
    background-color: var(--clr--green);
    border-radius: 0;
}

.excelLabel{
    display: block;
    font-size: 1.25rem;
}

.dataPart{
    width: 90%;
}
.enroll-del-btn{
    background-color: var(--clr--red);
    border: none;
    font-size: 0.75rem;
    transition: 0.3s; 
}
.enroll-del-btn i{
    margin-right: 0.5rem
}   
.enroll-del-btn:hover{ 
    background-color: var(--clr--blue);
    border-radius: 0;
}