.destination{
    margin: 4rem 6rem;
}
.destination h1{
    font-size: 2rem;
}

.desc-first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.desc-first-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.desc-text{
    width: 45%;
    text-align: start;
}
.desc-text h2{
    padding-bottom: 1rem;
}

.desc-image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}
.desc-image img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 60px -15px rgba(0,0,0,0.1);
}

.desc-image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}

@media screen and (max-width:850px){
    .destination{
        margin: 5rem;
    }

    .desc-first {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .desc-first-reverse{
        
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .desc-text{
        width: 100%;
    }

    .desc-image{
        width: 100%;
        margin: 1.8rem 0;
    }

    .desc-image img{
        height: 250px;
    }
}