
.message{
    margin: 0 0 2rem 0 ;
    font-size: 1.2rem;
}
.danger{
    margin: 0 0 2rem 0 ;
    font-size: 1.2rem;
    color: red;
}

.login-form label{
    font-size: 1rem;
}
.login-form input{
    height: 3rem;
    padding: 0 1.5rem;
    margin-left:1.2rem;
    margin-bottom: 1.5rem;
    border-radius: 0.2rem;
    border: 1px solid var(--clr--grey);
    font-family: var(--ff-primary);
}

.login-form{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form button{
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 4rem;
    font-size: 1.2rem;
    color: var(--clr--black);
    font-weight: bold;
    border: none;
    background-color:#F4D35E;
    transition: all 0.5s ease;
    font-family: var(--ff-secondary);
}
.login-form button:hover{
    background-color:#35FF69;
    border-radius: 0;
    cursor: pointer;
}

.user-select{
    display: block;
    margin:auto;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    background-color: var(--clr--blue);
    color: var(--clr--white);
    border: none;
    width: 80%;
}

.error-message{
    display: block;
    padding: 3px;
    color: var(--clr--red);
    margin-bottom: 1rem;
    margin-top: -1rem;
}

@media screen and (max-width: 800px ){
    .login-form label{
        font-size: 1rem;
    }
    .login-form input{
        height: 2.5rem;
        padding: 0 1rem;
    }
    .login-form button{
        padding: 0.8rem 1rem;
        border-radius: 4rem;
    }
}
