.profile-section{
    max-width: 90%;
}
/*
.prf-image{
    max-width: 10rem;
    height: 12rem;
    background-image: url('../../images/teacher-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    box-shadow: 10px 10px 40px #bebebe, -20px -20px 60px #ffffff;
}
*/

.profile-image{
    display: flex;
    align-items: center;
}

.profileImage{
    width: 10rem;
    height: 12rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    box-shadow: 10px 10px 40px #bebebe, -20px -20px 60px #ffffff;
    object-fit: cover;

}

.custom-file-input::file-selector-button {
    height: 3rem;
    width: 10rem;
    font-family: var(--ff-secondary);
    background-color: var(--clr--grey);
    color: var(--clr--white);
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: all 0.4s ;
    margin-bottom: 1rem;
}

.custom-file-input::file-selector-button:hover {
  background: var(--clr--blue);
}

.tospan div{
    display: block;
    margin: 0 1rem
}

.tospan 

.stdprf-image{
    max-width: 10rem;
    height: 12rem;
    background-image: url('../../images/std-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    box-shadow: 10px 10px 40px #bebebe, -20px -20px 60px #ffffff;
}
.profile-card{
    border-radius: 0.4rem;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.profile-card :hover{
    background-color: var(--clr--white);
}

.profile-card-2 :hover{
    background-color: var(--clr--white);
}

.profile-card-2{
    border-radius: 0.4rem;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#00ffa2, #5B42F3 50%,#08f6be);
}

.profile-label{
    color: var(--clr--black);
}

.profile-field{
    color: var(--clr--black);
    font-weight: bold;
    font-size: 1rem;
}

.header-btn{
    height: 3rem;
    width: 10rem;
    font-family: var(--ff-secondary);
    background-color: var(--clr--red);
    color: var(--clr--white);
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: all 0.4s ;
    margin-bottom: 1rem;
}

.header-btn >i{
    padding-right: 1rem;
}
.header-btn:hover{
    background-color: var(--clr--blue);
}

.green-btn{
    background-color: var(--clr--green);
    color: black;
}
.green-btn:hover{
    color: white;
}