    .sub-btn {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: var(--ff-secondary);
}

.sub-btn::before {
    margin-left: auto;
}

.sub-btn::after, .sub-btn::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.sub-btn:hover::after, .sub-btn:hover::before {
    width: 100%;
}